* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "sora", "sans-serif";
}

// Variable common
$header-bg: #2e80ce;

// SASS
%logo-base {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
%text-center-base {
    text-align: center;
}

@mixin flex-center($flex: flex, $justify: null) {
    display: $flex;
    justify-content: $justify;
    align-items: center;
}

@mixin btn {
    width: 205px;
    height: 60px;
    border-radius: 30px;
    background: $header-bg;
    color: #fff;
    border: none;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    cursor: pointer;
}

@mixin desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

@mixin image($width, $height, $border-radius: null) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
    object-fit: cover;
}

@mixin section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

@mixin section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    line-height: 1.67;
    font-weight: 300;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.container.header {
    min-height: 100vh;
}

/* Header */
.header {
    background: #10375c;
    padding-top: 30px;

    .header-top {
        @include flex-center($justify: space-between);
    }

    .logo {
        @include flex-center(inline-flex);
        position: relative;
        font-size: 1rem;

        &__circle::before,
        &__circle::after {
            @extend %logo-base;
        }

        &__circle::before {
            width: 3em;
            height: 3em;
            background-color: #2e80ce;
        }

        &__circle::after {
            position: absolute;
            top: 1.1em;
            left: 1.1em;
            width: 1.6em;
            height: 1.6em;
            background-color: #ffffff;
        }

        &__text {
            display: inline-block;
            text-align: right;
            width: 50px;
            margin-left: 0.6em;
            line-height: 1.4em;
        }

        &__brand {
            color: #fff;

            font: {
                size: 1.8em;
                weight: 400;
            }

            &:last-child {
                font: {
                    size: 1.2em;
                    weight: 300;
                }
            }
        }
    }
}

.navbar {
    &__list {
        @include flex-center;
    }

    &__item:hover {
        text-shadow: 1px 0 0 currentColor;
        font-weight: 400;
    }

    &__link {
        padding: 4px 42px;
        color: #c9d2da;

        font: {
            size: 16px;
            weight: 300;
        }

        &-active {
            color: #fff;
            text-shadow: 1px 0 0 currentColor;
            font-weight: 400;

            &::before {
                position: relative;
                left: -8px;
                top: -2px;
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #fff;
            }
        }
    }
}

.header-actions {
    &__login {
        color: #c9d2da;
        font-size: 1.6rem;
        font-weight: 300;
    }

    &__signup {
        @include btn;
        margin-left: 28px;
        width: 104px;
        height: 44px;
        border-radius: 22px;
        font-size: 1.6rem;
        line-height: 1.75;

        &:hover {
            opacity: 0.8;
        }
    }
}

/* Hero */
.hero {
    margin-top: 76px;
    @include flex-center;

    &__content {
        width: 44%;
        flex-shrink: 0;
    }

    &__heading {
        color: #fff;
        font-size: 7rem;
        font-weight: 600;
        line-height: 1.14;
        letter-spacing: -1.4px;
    }

    &__desc {
        margin-top: 22px;
        @include desc;
    }

    &__row {
        @include flex-center;
        margin-top: 38px;

        .btn {
            display: inline-block;
            @include btn;
            text-align: center;
            line-height: 60px;
        }

        .hero__phone {
            margin-left: 38px;
            color: #fff;
            font-size: 1.8rem;
            line-height: 1.67; /* 166.667% */
        }
    }

    &__media {
        flex-grow: 1;

        .hero__images {
            @include flex-center($justify: flex-end);
        }

        .hero__img {
            @include image(330px, 540px);
        }

        .hero__img:first-child {
            position: relative;
            margin-right: -6px;
        }

        .hero__img:last-child {
            @include image(210px, 410px);
            border-radius: 0px 6px 6px 0px;
        }
    }
}

.service {
    padding: 170px;

    .section-heading {
        @include section-heading;
        @extend %text-center-base;
    }

    .section-desc {
        @include section-desc;
        @extend %text-center-base;
        width: 468px;
        margin-left: auto;
        margin-right: auto;
    }

    .service__row {
        margin-top: 70px;
        @include flex-center($justify: space-between);

        .service-item {
            display: flex;
            align-items: flex-start;
            padding: 22px;
            width: 470px;
            transition: 0.25s;

            svg {
                width: 60px;
                height: 60px;
            }

            &__body {
                margin-left: 19px;
            }

            &__heading {
                color: #10375c;
                font-size: 1.8rem;
                font-weight: 600;
            }

            &__description {
                margin-top: 8px;
                color: #575f66;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.75;
            }

            &:hover {
                position: relative;
                border-radius: 10px;
                background: #fff;
                box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
            }
        }

        .btn {
            display: inline-block;
            margin-top: 33px;
            @include btn;
            text-align: center;
            line-height: 60px;
        }
    }
}

/* Work */
.work {
    padding: 100px 0;
    background: #f6fbff;

    .section-heading {
        @include section-heading;
    }

    .section-desc {
        margin-top: 18px;
        width: 468px;
        @include desc;
        color: #575f66;
    }

    .work__list {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        transition: 0.25s ease;

        .work-item {
            padding: 44px;
            border: 16px solid #eaf6ff;
            border-radius: 4px;
            background: #fff;

            &__icon {
                width: 72px;
                height: 72px;
                object-fit: cover;
            }

            &__heading {
                margin-top: 18px;
                color: #10375c;
                font-size: 2.6rem;
                font-weight: 600;
                line-height: 1.38;
            }

            &__desc {
                margin-top: 28px;
                color: #575f66;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.75;
            }

            .work_more {
                display: inline-block;
                margin-top: 18px;
                color: #575f66;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.75;
            }

            &:hover {
                border-color: #2e80ce;
                transform: translateY(-16px);

                .work_more {
                    color: #2e80ce;
                    font-weight: 400;
                }
            }
        }
    }
}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;

    .inner {
        @include flex-center;
    }

    &__media {
        position: relative;
        width: 48%;
        padding: 0 30px 121px 0;
    }

    &_img {
        position: relative;
        width: 512px;
        height: 370px;
        border-radius: 6px;
    }

    &_img:last-child {
        width: 332px;
        height: 370px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__content {
        margin-left: 188px;
    }

    .section-heading {
        @include section-heading;
    }

    .section__desc {
        margin-top: 18px;
        @include section-desc;
    }

    .btn {
        display: inline-block;
        margin-top: 38px;
        @include btn;
        text-align: center;
        line-height: 60px;
    }
}

/* Member */
.member {
    padding: 85px 0;

    &__header {
        @include flex-center($justify: center);
        flex-direction: column;
    }

    .section-heading {
        @include section-heading;
    }

    .btn {
        display: inline-block;
        margin-top: 38px;
        @include btn;
        text-align: center;
        line-height: 60px;
    }

    &__list {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    &-item {
        &:hover &__thumb {
            transform: scale(1.1);
        }

        &__img-bg {
            border-radius: 6px;
            background: #eaf6ff;
            padding-top: 28px;
            object-fit: cover;
        }

        &__thumb {
            display: block;
            transition: 0.25s;
        }

        &__name {
            color: #10375c;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.75;
        }

        &__title {
            color: #575f66;
            text-align: center;
            font-size: 1.4;
            line-height: 1.86;
        }
    }

    &__control {
        margin-top: 38px;
        @include flex-center($justify: center);

        &-btn {
            @include flex-center($justify: center);
            width: 36px;
            height: 36px;
            border: 1px solid #575f66;
            background: #fff;
            color: #575f66;
            border-radius: 50%;

            &:last-child {
                margin-left: 13px;
                rotate: -180deg;
            }

            &:hover {
                background: $header-bg;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

/* Install */
.install {
    margin: 180px 0 85px;

    &__inner {
        @include flex-center($justify: space-between);
        padding: 0 70px;
        border-radius: 4px;
        background: #2e80ce;
    }

    &__img {
        margin-top: -95px;
        display: block;
        width: 284px;
        height: 522px;
        object-fit: cover;
    }

    &__content {
        width: 596px;

        .install__heading {
            color: #fff;
            font-size: 5rem;
            font-weight: 600;
            line-height: 1.2;
            letter-spacing: -1px;
        }

        .install__desc {
            margin-top: 18px;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 1.67;
        }

        .install__row {
            margin-top: 38px;
            display: flex;
            column-gap: 28px;
            align-items: center;
        }
    }
}

/* News */
.news {
    padding: 85px 0;

    &__inner {
        @include flex-center;
    }

    &__content,
    &__list {
        flex: 1;
    }

    &__heading {
        width: 470px;
        @include section-heading;
    }

    &__more {
        display: inline-block;
        margin-top: 28px;
        color: #10375c;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.56;
        text-decoration-line: underline;
        text-underline-offset: 5px;
    }

    &__control {
        @include flex-center($justify: flex-start);
        margin-top: 28px;

        &-btn {
            @include flex-center($justify: center);
            width: 36px;
            height: 36px;
            border: 1px solid #575f66;
            background: #fff;
            color: #575f66;
            border-radius: 50%;

            &:hover {
                background: $header-bg;
                color: #fff;
                cursor: pointer;
            }

            &:last-child {
                rotate: 180deg;
                margin-left: 13px;
            }
        }
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &-item {
        &:hover {
            box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
        }

        &__thumb {
            display: block;
            width: 100%;
            height: 172px;
            object-fit: cover;
            border-radius: 12px 12px 0 0;
        }

        &__body {
            padding: 18px 22px 21px;
            border: 1px solid #e8ebee;
            border-radius: 0 0 12px 12px;
        }

        &__heading {
            color: #10375c;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.62;
        }

        &__desc {
            margin-top: 10px;
            color: #575f66;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.71;
        }

        &__more {
            display: inline-block;
            margin-top: 12px;
            color: #10375c;
            font-size: 1.4rem;
            font-weight: 400;

            &:hover {
                color: #2e80ce;
            }
        }
    }
}

/* Appointment */
.appointment {
    margin-top: 85px;

    &__inner {
        padding: 100px 0;
        background: #f6fbff;
        @include flex-center($justify: center);
        flex-direction: column;
    }

    .section-heading {
        position: relative;
        padding-bottom: 18px;
        color: #10375c;
        font-size: 5rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -1px;

        &::after {
            display: inline-block;
            position: absolute;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 136px;
            height: 2px;
            background: #2e80ce;
        }
    }

    .section-desc {
        margin-top: 18px;
        color: #575f66;
        width: 617px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.75;
    }

    .btn-cta {
        display: inline-block;
        margin-top: 38px;
        @include btn;
        text-align: center;
        line-height: 60px;
    }
}

.footer {
    padding: 100px 0 42px;
    background: #10375c;
    font-family: "Open Sans";

    &__row {
        display: grid;
        column-gap: 78px;
        grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    }

    .logo {
        @include flex-center(inline-flex);
        position: relative;
        font-size: 1rem;
        font-family: Sora;

        &__circle::before,
        &__circle::after {
            @extend %logo-base;
        }

        &__circle::before {
            width: 3em;
            height: 3em;
            background-color: #2e80ce;
        }

        &__circle::after {
            position: absolute;
            top: 1.1em;
            left: 1.1em;
            width: 1.6em;
            height: 1.6em;
            background-color: #ffffff;
        }

        &__text {
            display: inline-block;
            text-align: right;
            width: 50px;
            margin-left: 0.6em;
            line-height: 1.4em;
        }

        &__brand {
            color: #fff;

            font: {
                size: 1.8em;
                weight: 400;
            }

            &:last-child {
                font: {
                    size: 1.2em;
                    weight: 300;
                }
            }
        }
    }

    &__desc {
        margin-top: 21px;
        color: #a9b3bb;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.75;
    }

    &__heading {
        margin-bottom: 20px;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.75;
    }

    &__item {
        margin-bottom: 10px;
    }

    &__item:last-child {
        margin-bottom: 28px;
    }

    &__link {
        color: #a9b3bb;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.86;
        white-space: nowrap;
    }

    &__social {
        @include flex-center;
        gap: 12px;

        &-btn {
            background: #fff;
            color: #2e80ce;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            display: flex;
            width: 32px;
            height: 32px;
            margin-bottom: 28px;
        }

        &-btn:hover {
            background: #2e80ce;
            color: white;
        }
    }

    form {
        margin-top: 10px;
        display: flex;
        align-items: flex-start;

        input {
            padding: 10px;
            width: 212px;
            height: 46px;
            border-radius: 4px;
            border: 1px solid #406181;
            outline: none;
            background: none;
        }
    }

    &__submit {
        margin-left: 10px;
        width: 108px;
        height: 46px;
        border-radius: 4px;
        background: #2e80ce;
        color: #fff;
        padding: 10px 21px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .copy-right {
        margin-top: 19px;
        color: #aab3ba;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.86;
    }
}
